<% unless @post.replies.blank? %>

<% @post.replies.each do |reply| %>
	<strong>Posted by: <%= reply.user.email %></strong>

	<% if reply.user.admin? %>
		&nbsp;|&nbsp;<em>admin</em>
	<% end %>

	<p><%= reply.body %></p>

<% if user_signed_in? %>
	<% if reply.user == current_user || current_user.admin? %>

		<%= link_to "Edit", edit_post_reply_path(@post, reply) %>

	<% end %>

	<% if current_user.admin? %>

		&nbsp;|&nbsp;<%= link_to "Delete", [reply.post, reply], method: :delete, data: {confirm: "are you sure?"} %>

	<% end %>
<% end %>

<p></p>

<% end %>

<% end %>